// shorthand check whether the current theme is "latte"
$isLatte: $theme == latte;

.asciinema-theme-catppuccin-#{$theme} {
  background-color: $base;

  .asciinema-terminal {
    color: $text;
    background-color: $base;
    border-color: $crust;
  }

  .fg-bg {
    color: $base;
  }
  .bg-fg {
    background-color: $text;
  }
  .fg-0 {
    color: if($isLatte, $subtext1, $surface1);
  }
  .bg-0 {
    background-color: if($isLatte, $subtext1, $surface1);
  }
  .fg-1 {
    color: $red;
  }
  .bg-1 {
    background-color: $red;
  }
  .fg-2 {
    color: $green;
  }
  .bg-2 {
    background-color: $green;
  }
  .fg-3 {
    color: $yellow;
  }
  .bg-3 {
    background-color: $yellow;
  }
  .fg-4 {
    color: $blue;
  }
  .bg-4 {
    background-color: $blue;
  }
  .fg-5 {
    color: $pink;
  }
  .bg-5 {
    background-color: $pink;
  }
  .fg-6 {
    color: $teal;
  }
  .bg-6 {
    background-color: $teal;
  }
  .fg-7 {
    color: if($isLatte, $surface2, $subtext1);
  }
  .bg-7 {
    background-color: if($isLatte, $surface2, $subtext1);
  }
  .fg-8 {
    color: if($isLatte, $subtext0, $surface2);
  }
  .bg-8 {
    background-color: if($isLatte, $subtext0, $surface2);
  }
  .fg-9 {
    color: $red;
  }
  .bg-9 {
    background-color: $red;
  }
  .fg-10 {
    color: $green;
  }
  .bg-10 {
    background-color: $green;
  }
  .fg-11 {
    color: $yellow;
  }
  .bg-11 {
    background-color: $yellow;
  }
  .fg-12 {
    color: $blue;
  }
  .bg-12 {
    background-color: $blue;
  }
  .fg-13 {
    color: $pink;
  }
  .bg-13 {
    background-color: $pink;
  }
  .fg-14 {
    color: $teal;
  }
  .bg-14 {
    background-color: $teal;
  }
  .fg-15 {
    color: if($isLatte, $surface1, $subtext0);
  }
  .bg-15 {
    background-color: if($isLatte, $surface1, $subtext0);
  }
  .fg-8,
  .fg-9,
  .fg-10,
  .fg-11,
  .fg-12,
  .fg-13,
  .fg-14,
  .fg-15 {
    font-weight: bold;
  }
}
